.glass-effect-login-page-blue,
.glass-effect-login-page-blue * {
  box-sizing: border-box;
}
.glass-effect-login-page-blue {
  background: radial-gradient(
    closest-side,
    rgba(0, 133, 255, 1) 0%,
    rgba(0, 52, 101, 1) 100%
  );
  border-radius: 5px;
  height: 960px;
  position: relative;
  box-shadow: 22px 35px 91px 0px rgba(0, 0, 0, 0.1),
    89px 139px 165px 0px rgba(0, 0, 0, 0.09),
    200px 312px 223px 0px rgba(0, 0, 0, 0.05),
    355px 556px 264px 0px rgba(0, 0, 0, 0.01),
    555px 868px 288px 0px rgba(0, 0, 0, 0);
  overflow: hidden;
}
.group {
  width: 11.91%;
  height: 14.04%;
  position: absolute;
  right: 66.42%;
  left: 21.67%;
  bottom: 12.49%;
  top: 73.47%;
  overflow: visible;
  mix-blend-mode: luminosity;
}
.group2 {
  width: 19.24%;
  height: 34.2%;
  position: absolute;
  right: 57.86%;
  left: 22.9%;
  bottom: 6.31%;
  top: 59.48%;
  overflow: visible;
  mix-blend-mode: luminosity;
}
.group3 {
  opacity: 0.5;
  width: 10.62%;
  height: 18.89%;
  position: absolute;
  right: 58.34%;
  left: 31.04%;
  bottom: 69.55%;
  top: 11.56%;
  transform: translate(-59.73px, -88.76px);
  overflow: visible;
}
.group4 {
  width: 34.81%;
  height: 57.67%;
  position: absolute;
  right: 15.3%;
  left: 49.9%;
  bottom: 32.06%;
  top: 10.28%;
  overflow: visible;
  mix-blend-mode: luminosity;
}
.frame-2257 {
  background: rgba(88, 130, 193, 0.28);
  border-radius: 50px;
  border-width: 2.13px;
  border-style: solid;
  border-image: linear-gradient(
    135.59deg,
    rgba(88, 130, 193, 0.49) 0%,
    rgba(88, 130, 193, 0.11) 100%
  );
  border-image-slice: 0;
  padding: 40px 80px 40px 80px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 50%;
  translate: -50% -50%;
  top: 50%;
  overflow: hidden;
  backdrop-filter: blur(8.89px);
}
.your-logo {
  color: #ffffff;
  text-align: left;
  font-family: "GilroyBold-☞", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-2256 {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 250px;
  position: relative;
}
.login {
  color: #ffffff;
  text-align: left;
  font-family: "GilroyBold-☞", sans-serif;
  font-size: 24px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-2250 {
  flex-shrink: 0;
  width: 250px;
  height: 154.58px;
  position: static;
}
.frame-4 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 54px;
}
.email {
  color: #ffffff;
  text-align: left;
  font-family: "GilroyMedium-☞", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-1 {
  background: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: #bcbec0;
  border-width: 0.71px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 250px;
  height: 32px;
  position: relative;
  overflow: hidden;
}
.username-gmail-com {
  color: #bcbec0;
  text-align: left;
  font-family: "GilroyMedium-☞", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.forgot-password {
  color: #ffffff;
  text-align: left;
  font-family: "GilroyMedium-☞", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: absolute;
  left: calc(50% - 125px);
  top: calc(50% - 11.25px);
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-3 {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 0px;
  top: 126px;
}
.password {
  color: #ffffff;
  text-align: left;
  font-family: "GilroyMedium-☞", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.frame-2 {
  background: #ffffff;
  border-radius: 5px;
  border-style: solid;
  border-color: #bcbec0;
  border-width: 0.71px;
  padding: 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-shrink: 0;
  width: 250px;
  height: 32px;
  position: relative;
  overflow: hidden;
}
.password2 {
  color: #bcbec0;
  text-align: left;
  font-family: "GilroyMedium-☞", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.clarity-eye-hide-line {
  border-radius: 28.46px;
  flex-shrink: 0;
  width: 11.38px;
  height: 11.38px;
  position: relative;
  overflow: visible;
}
.frame-5 {
  background: #003465;
  border-radius: 7.11px;
  padding: 16px 161px 16px 161px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 400px;
  height: 40px;
  position: relative;
  overflow: hidden;
}
.sign-in {
  color: #ffffff;
  text-align: left;
  font-family: "GilroyBold-☞", sans-serif;
  font-size: 16px;
  font-weight: 300;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.or-continue-with {
  color: #ffffff;
  text-align: center;
  font-family: "GilroyMedium-☞", sans-serif;
  font-size: 13px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.frame-2254 {
  display: flex;
  flex-direction: row;
  gap: 17px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.frame-2253 {
  background: #ffffff;
  border-radius: 7.11px;
  border-style: solid;
  border-color: #bcbec0;
  border-width: 0.71px;
  padding: 9px 45px 9px 45px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.flat-color-icons-google {
  border-radius: 28.46px;
  flex-shrink: 0;
  width: 17.08px;
  height: 17.08px;
  position: relative;
  overflow: hidden;
}
.group-2212 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.frame-2252 {
  background: #ffffff;
  border-radius: 7.11px;
  border-style: solid;
  border-color: #bcbec0;
  border-width: 0.71px;
  padding: 9px 45px 9px 45px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.akar-icons-github-fill {
  border-radius: 28.46px;
  flex-shrink: 0;
  width: 17.08px;
  height: 17.08px;
  position: relative;
  overflow: hidden;
}
.group5 {
  width: 100%;
  height: 97.53%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 2.47%;
  top: 0%;
  overflow: visible;
}
.frame-2251 {
  background: #ffffff;
  border-radius: 7.11px;
  border-style: solid;
  border-color: #bcbec0;
  border-width: 0.71px;
  padding: 9px 45px 9px 45px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: center;
  flex: 1;
  position: relative;
}
.bi-facebook {
  border-radius: 28.46px;
  flex-shrink: 0;
  width: 17.08px;
  height: 17.08px;
  position: relative;
  overflow: hidden;
}
.group6 {
  width: 100.01%;
  height: 100.01%;
  position: absolute;
  right: 0%;
  left: -0.01%;
  bottom: -0.01%;
  top: -0.01%;
  overflow: visible;
}
.don-t-have-an-account-yet-register-for-free {
  color: #ffffff;
  text-align: center;
  font-family: "-", sans-serif;
  font-size: 9.960416793823242px;
  font-weight: 400;
  position: relative;
  align-self: stretch;
  display: flex;
  align-items: center;
  justify-content: center;
}
.don-t-have-an-account-yet-register-for-free-span {
  color: #ffffff;
  font-family: "GilroyRegular-☞", sans-serif;
  font-size: 9.960416793823242px;
  font-weight: 400;
}
.don-t-have-an-account-yet-register-for-free-span2 {
  color: #ffffff;
  font-family: "GilroyBold-☞", sans-serif;
  font-size: 9.960416793823242px;
  font-weight: 400;
}
.group7 {
  width: 8.11%;
  height: 7.83%;
  position: absolute;
  right: 71.82%;
  left: 20.06%;
  bottom: 49.35%;
  top: 42.82%;
  overflow: visible;
  mix-blend-mode: luminosity;
}
.group8 {
  width: 9.18%;
  height: 5.25%;
  position: absolute;
  right: 20.16%;
  left: 70.66%;
  bottom: 19.63%;
  top: 75.12%;
  overflow: visible;
  mix-blend-mode: luminosity;
}
.group9 {
  width: 9.18%;
  height: 5.24%;
  position: absolute;
  right: 24.52%;
  left: 66.3%;
  bottom: 25.87%;
  top: 68.89%;
  overflow: visible;
  mix-blend-mode: luminosity;
}
.group10 {
  opacity: 0.5;
  width: 34.81%;
  height: 57.67%;
  position: absolute;
  right: 78.58%;
  left: -13.39%;
  bottom: -20.44%;
  top: 62.78%;
  overflow: visible;
  mix-blend-mode: luminosity;
}
.group11 {
  opacity: 0.5;
  width: 37.66%;
  height: 21.55%;
  position: absolute;
  right: -22.61%;
  left: 84.95%;
  bottom: -4.42%;
  top: 82.87%;
  overflow: visible;
  mix-blend-mode: luminosity;
}
.group12 {
  width: 12.73%;
  height: 12.28%;
  position: absolute;
  right: 65.42%;
  left: 21.84%;
  bottom: 59.47%;
  top: 28.25%;
  overflow: visible;
  mix-blend-mode: luminosity;
}
